body{
    background-color: #292525;
        display: flex;
        flex-direction: row ;
        align-items: center;
        justify-content: center;
}

@media (max-width: 900px) {
    body{
        min-width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #b16105;
    }
}


#scan{
    width: 600px;
    height:480px;
    margin-top: 35px;
}

#container{
    margin: auto;
    width: 600px;
    height:480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
}

#text{
    margin-top:10px;
    border: 2px solid #05F7FF;
    border-radius: 5px;
    padding:3px;
    outline: none;
    width: 250px;
}



#text2{

    margin-top:10px;
    border: 2px solid #05F7FF;
    border-radius: 5px;
    padding:3px;
    outline: none;
    width: 250px;
}


#text3{
    margin-top:10px;
    border: 2px solid #05F7FF;
    border-radius: 5px;
    padding:3px;
    outline: none;
    width: 250px;
}


#image{
    width:250px;
    height:220px;
    border: 10px solid #05F7FF;
    margin-bottom: 15px;
   
}

#control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    margin-top: 20px;
}

button{
    font-size:30px ;
    border: none;
    background-color: #b16105;
    color: white;
    font-family: Arial, serif;
    border-radius: 7px;
    Margin-top: 5px;
}

button:active {
    transform: translateY(2px);
    transition: transform 0.1s ease-in-out;
}
